<div class="content">
  <div class="content_inner">
    <img
      class="content_img"
      src="../../assets/content/Component 6.png"
      alt=""
    />
    <h2 class="content_title">Dashboard will be available in next release</h2>
    <div class="content_text">
      <p>Current version 1.01</p>
      <p>
        Visit
        <a href="https://www.leechprotocol.com/" target="_blank"
          >www.leechprotocol.com</a
        >
        to get more details.
      </p>
    </div>
    <a class="content_btn" href="https://www.leechprotocol.com/" target="_blank"
      ><img src="../../assets/content/icon1.svg" alt="" /> Visit
      leechprotocol</a
    >
  </div>
</div>
