<div class="navbar">
  <div class="navbar_header">
    <img
      src="../../assets/navbar/Group 482930.png"
      alt=""
      class="navbar_logo"
    />
    <h1 class="navbar_title">Protocol</h1>
  </div>

  <div class="navbar_inner">
    <a class="navbar_content-item" href="#">
      <svg class="navbar_content-icon">
        <use xlink:href="#icon_1"></use>
      </svg>

      <div class="navbar_content-text">Dashboard</div>
    </a>
    <a class="navbar_content-item" href="#">
      <svg class="navbar_content-icon">
        <use xlink:href="#icon_2"></use>
      </svg>
      <div class="navbar_content-text">Pools</div>
    </a>
    <div class="navbar_content-version">Version 1.01</div>
  </div>

  <div class="navbar_footer">
    <div class="social">
      <a class="social_items" href="#" target="_blank"
        ><img
          src="../../assets/navbar/twiter.svg"
          alt="icons"
          class="social_icons"
          href="https://twitter.com/?lang=ru"
      /></a>
      <a class="social_items" href="#" target="_blank"
        ><img src="../../assets/navbar/2.svg" alt="icons" class="social_icons"
      /></a>
      <a class="social_items" href="https://discord.com/" target="_blank"
        ><img
          src="../../assets/navbar/discord.svg"
          alt="icons"
          class="social_icons"
      /></a>
      <a class="social_items" href="https://web.telegram.org/k/" target="_blank"
        ><img
          src="../../assets/navbar/telegram.svg"
          alt="icons"
          class="social_icons"
      /></a>
    </div>
    <div class="navbar_footer-link">
      <img src="../../assets/navbar/Line3.svg" alt="" /><a
        href="https://www.leechprotocol.com/"
        target="_blank"
        >www.leechprotocol.com</a
      >
    </div>
  </div>
</div>
