<div class="modal">
  <div class="modal_container">
    <div class="modal_header">
      <h3 class="modal_header-title">Connect wallet</h3>
      <button href="#" class="modal_close" (click)="onCloseClick()"></button>
    </div>
    <div class="modal_content">
      <div class="modal_inner">
        <button class="modal_content-item">
          <img src="../../assets/modal/MetaMask_Fox.png" class="item_img" />
          <div class="item_text">Metamask</div>
        </button>
        <button class="modal_content-item">
          <img src="../../assets/modal/WalletConnect.png" class="item_img" />
          <div class="item_text">Wallet Connect</div>
        </button>
        <button class="modal_content-item blocked">
          <div class="blocked_item">
            <img class="blocked_img" src="../../assets/modal/Line.svg" alt="" />
          </div>
          <img src="../../assets/modal/path7.png" class="item_img" />
          <div class="item_text">trezor</div>
        </button>
        <button class="modal_content-item blocked">
          <div class="blocked_item">
            <img class="blocked_img" src="../../assets/modal/Line.svg" alt="" />
          </div>
          <img src="../../assets/modal/Icons.png" class="item_img" />
          <div class="item_text">ledger</div>
        </button>
      </div>
    </div>
  </div>
</div>
